---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    dateKey: "experience.0.date",
    locationKey: "experience.0.location",
    titleKey: "experience.0.title",
    companyKey: "experience.0.company",
    technologies: ["Webpack", "Module Federation", "Typescript", "React", "Node.js"],
    tools: ["Jira", "Miro", "Slack", "Gitlab", "Github"],
    desc1Key: "experience.0.description_1",
    desc2Key: "experience.0.description_2"
  },
  {
    dateKey: "experience.1.date",
    locationKey: "experience.1.location",
    titleKey: "experience.1.title",
    companyKey: "experience.1.company",
    technologies: ["Webpack", "Module Federation", "Typescript", "React", "Node.js"],
    tools: ["Jira", "Miro", "Slack", "Gitlab", "Github"],
    desc1Key: "experience.1.description_1",
    desc2Key: "experience.1.description_2"
  },
  {
    dateKey: "experience.2.date",
    locationKey: "experience.2.location",
    titleKey: "experience.2.title",
    companyKey: "experience.2.company",
    technologies: ["Typescript", "React", "Node.js", "NextJS"],
    tools: ["Clickup", "Slack", "Github"],
    desc1Key: "experience.2.description_1",
    desc2Key: "experience.2.description_2"
  },
  {
    dateKey: "experience.3.date",
    locationKey: "experience.3.location",
    titleKey: "experience.3.title",
    companyKey: "experience.3.company",
    technologies: ["Vue", "React", "Node.js", "NextJS"],
    tools: ["Miro", "Slack", "Gitlab"],
    desc1Key: "experience.3.description_1",
    desc2Key: "experience.3.description_2"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((exp) => (
      <li>
        <ExperienceItem
          dateKey={exp.dateKey}
          locationKey={exp.locationKey}
          titleKey={exp.titleKey}
          companyKey={exp.companyKey}
          technologies={exp.technologies}
          tools={exp.tools}
          desc1Key={exp.desc1Key}
          desc2Key={exp.desc2Key}
        />
      </li>
    ))
  }
</ol>
