---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import AntDesign from "./icons/AntDesign.astro"
import ReactJS from "./icons/ReactJS.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import NodeJS from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJS.astro"
import Astr from "./icons/Astr.astro"
import JavaScript from "./icons/JavaScript.astro"
import TypeScript from "./icons/TypeScript.astro"
import Infrastructure from "./icons/Infrastructure.astro"
import Notebook from "./icons/Notebook.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    nameKey: "projects.tag_next",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    nameKey: "projects.tag_tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANTDESIGN: {
    name: "Ant Design",
    nameKey: "projects.tag_antdesign",
    class: "bg-[#FFFFF] text-blue-600",
    icon: AntDesign,
  },
  REACTJS: {
    name: "React JS",
    nameKey: "projects.tag_reactjs",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: ReactJS,
  },
  EXPRESSJS: {
    name: "Express Js",
    nameKey: "projects.tag_expressjs",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: ExpressJS,
  },
  NODEJS: {
    name: "Node Js",
    nameKey: "projects.tag_nodejs",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: NodeJS,
  },
  ASTR: {
    name: "Astro",
    nameKey: "projects.tag_astro",
    class: "bg-[#1A1A1A] text-orange-500",
    icon: Astr,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    nameKey: "projects.tag_javascript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    nameKey: "projects.tag_typescript",
    class: "bg-[#3178C6] text-white",
    icon: TypeScript,
  },
  INFRASTRUCTURE: {
    name: "Infrastructure",
    nameKey: "projects.tag_infrastructure",
    class: "bg-[#2E3440] text-[#88C0D0]",
    icon: Infrastructure,
  },
  NOTEBOOK: {
    name: "Documentation",
    nameKey: "projects.tag_notebook",
    class: "bg-[#FF6B35] text-white",
    icon: Notebook,
  },
}

const PROJECTS = [
  {
    titleKey: "projects.portfolio_title",
    descKey: "projects.portfolio_desc",
    link: "https://porfolio.amilcarcode.app/",
    github: "https://github.com/amilcar-laniakea/porfolio-devloper",
    image: "/default-img.webp",
    tags: [TAGS.ASTR, TAGS.TAILWIND],
  },
  {
    titleKey: "projects.backend_vanilla_title",
    descKey: "projects.backend_vanilla_desc",
    github: "https://github.com/amilcar-laniakea/advanced-backend-2",
    image: "/default-img.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.NOTEBOOK],
  },
  {
    titleKey: "projects.lazy_loading_title",
    descKey: "projects.lazy_loading_desc",
    github: "https://github.com/amilcar-laniakea/infinity-scroll-react-ts-with-image-lazy-load",
    image: "/default-img.webp",
    tags: [TAGS.JAVASCRIPT],
  },
  {
    titleKey: "projects.cicd_template_title",
    descKey: "projects.cicd_template_desc",
    github: "https://github.com/amilcar-laniakea/express-template-ts-husky-commitlint-lint-staged",
    image: "/default-img.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.INFRASTRUCTURE],
  },
  {
    titleKey: "projects.backend_title",
    descKey: "projects.backend_desc",
    link: "https://backend-final-project.amilcarcode.app/",
    github: "https://github.com/amilcar-laniakea/ch-backend-1",
    image: "/backend-node.webp",
    tags: [TAGS.NODEJS, TAGS.EXPRESSJS],
  },
  {
    titleKey: "projects.laniakea_title",
    descKey: "projects.laniakea_desc",
    link: "https://laniakea-store-v2.amilcarcode.app",
    github: "https://github.com/amilcar-laniakea/laniakea-store-v2",
    image: "/laniakea-store.webp",
    tags: [TAGS.REACTJS, TAGS.ANTDESIGN],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, titleKey, descKey, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0" lang="en">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50" lang="en">
          <img alt={titleKey} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image} />
        </div>
      </div>
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100" data-translate={titleKey}></h3>
        <div class="flex flex-wrap flex-col mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full border border-gray-600 text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  <span data-translate={tag.nameKey}>{tag.name}</span>
                </span>
              </li>
            ))}
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400" data-translate={descKey}></div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                <span data-translate="projects.code">Code</span>
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                <span data-translate="projects.preview">Preview</span>
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>



