---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import AntDesign from "./icons/AntDesign.astro"
import ReactJS from "./icons/ReactJS.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import NodeJS from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJS.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANTDESIGN: {
    name: "Ant Design",
    class: "bg-[#FFFFF] text-blue-600",
    icon: AntDesign,
  },
  REACTJS: {
    name: "React JS",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: ReactJS,
  },
  EXPRESSJS: {
    name: "Express Js",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: ExpressJS,
  },
  NODEJS: {
    name: "Node Js",
    class: "bg-[#FFFFF] text-black dark:text-white",
    icon: NodeJS,
  },
}

const PROJECTS = [
  {
    titleKey: "projects.laniakea_title",
    descKey: "projects.laniakea_desc",
    link: "https://laniakea-store-v2.amilcarcode.app",
    github: "https://github.com/amilcar-laniakea/laniakea-store-v2",
    image: "/laniakea-store.webp",
    tags: [TAGS.REACTJS, TAGS.ANTDESIGN],
  },
  {
    titleKey: "projects.backend_title",
    descKey: "projects.backend_desc",
    link: "https://backend-final-project.amilcarcode.app/",
    github: "https://github.com/amilcar-laniakea/ch-backend-1",
    image: "/backend-node.webp",
    tags: [TAGS.NODEJS, TAGS.EXPRESSJS],
  },
  {
    titleKey: "projects.login_title",
    descKey: "projects.login_desc",
    link: "https://github.com/amilcar-laniakea",
    image: "/projects/coming-soon.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, titleKey, descKey, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0" lang="en">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50" lang="en">
          <img alt={titleKey} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image} />
        </div>
      </div>
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100" data-translate={titleKey}></h3>
        <div class="flex flex-wrap flex-col mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full border border-gray-600 text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400" data-translate={descKey}></div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                <span data-translate="projects.code">Code</span>
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                <span data-translate="projects.preview">Preview</span>
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>



